name: End-to-End Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  pull_request:
    branches: [main]
    paths:
      - "**/*.py"
      - "requirements.txt"
      - "pyproject.toml"
      - ".github/workflows/tests-e2e.yaml"
  push:
    branches: [main]
    paths:
      - "**/*.py"
      - "requirements.txt"
      - "pyproject.toml"
      - ".github/workflows/tests-e2e.yaml"

env:
  PYTHONUNBUFFERED: 1
  AUTH1: ${{ secrets.AUTH1 }}
  AUTH2: ${{ secrets.AUTH2 }}
  MERCHANT_ID: ${{ secrets.MERCHANT_ID }}
  AZUL_CERT: ${{ secrets.AZUL_CERT }}
  AZUL_KEY: ${{ secrets.AZUL_KEY }}
  MERCHANT_NAME: indexa
  MERCHANT_TYPE: 1
  AZUL_AUTH_KEY: ${{ secrets.AUTH1 }}

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    name: e2e-tests-python-${{ matrix.python-version }}
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4.2.2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install .[dev]

      - name: Run e2e tests
        run: python -m pytest tests/e2e
